# =========================================================
# COSTABLANCAFINDER
# Variables de entorno
# =========================================================

# =========================================================
# APIs INMOBILIARIAS
# =========================================================

IDEALISTA_API_KEY=
IDEALISTA_API_SECRET=

FOTOCASA_API_KEY=

HABITACLIA_API_KEY=

PROPERSTAR_API_KEY=

# =========================================================
# SCRAPING / AGREGADORES
# =========================================================

APIFY_API_TOKEN=
APIFY_DATASET_ID=

# =========================================================
# APP CONFIG
# =========================================================

PROJECT_NAME=CostaBlancaFinder

ENVIRONMENT=development

DEBUG=True

# =========================================================
# DATA
# =========================================================

RAW_DATA_PATH=02_DATA_IA/raw_data
PROCESSED_DATA_PATH=02_DATA_IA/processed_data

# =========================================================
# LOGGING
# =========================================================

LOG_LEVEL=INFO